ignore

# Django
*.log
*.pot
*.pyc
*.pyo
__pycache__/
db.sqlite3
*.sqlite3
media/
staticfiles/
local_settings.py

# Virtualenv
venv/
ENV/
env/
.venv/
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# pipenv
Pipfile.lock

# dotenv
*.env